* {
  font-family: Tahoma, sans-serif;
  box-sizing: border-box;
  letter-spacing: 1px;
}


body {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
}

.content {
  gap: 2rem;
  justify-content: center;
  padding: 3em;
}

.top {
  display: flex;
  justify-content: space-between;
}

button {
  font-weight: 600;
  color: #fff;
  width: min-content;
  border: none;
  padding: 0.6em 2em;
  border-radius: 1rem;
  cursor: pointer;
}

.start-btn {
  background-color: #71a08a;
}

.restart-btn {
  background-color: #E22B63;
}

.boards-container {
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.board {
  grid-template-columns: repeat(10, 34px);

}

.cell {
  position: relative;
  height: 34px;
  border: 1px solid #75743E;
  user-select: none;
}

.sunk {
  background-color: #423f3f;
}

.ship {
  position: absolute;
  z-index: 1;
  background-color: #A58EC3;
  border: 1px solid #75743E;
}

.ship.playing {
  z-index: -1;
}

.ship.drag {
  cursor: move;
}

.ship.drop {
  z-index: -1;
}

.ship.horizontal {
  height: 32px;
  top: 0;
}

.ship.length-2.horizontal {
  width: 67px;
}

.ship.length-3.horizontal {
  width: 101px;
}

.ship.length-4.horizontal {
  width: 135px;
}

.ship.length-5.horizontal {
  width: 169px;
}

.ship.vertical {
  top: 0;
  right: 0;
  left: 0;
}

.ship.length-2.vertical {
  height: 67px;
}

.ship.length-3.vertical {
  height: 101px;
}

.ship.length-4.vertical {
  height: 135px;
}

.ship.length-5.vertical {
  height: 169px;
}

.cell.hit {
  position: relative;
  background-color: #a80a39;
}

.cell.hit::before {
  position: absolute;
  color: #fadada;
  content: 'x';
  top: 50%;
  right: 50%;
  transform: translate(50%, -60%);
}

.cell.miss {
  background-color: #539cb9;
}

.hidden {
  display: none;
}